body{
  background:url('images/bg-intro-desktop.png');
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  position:fixed;
  background-color:hsla(0, 100%, 74%,.65);
  height:100vh;
  width:100%;
  
}


.main-wrapper{
  width:1200px;
  margin:0 auto;
  height:600px;
  display: flex;
  align-items: center;
  padding:15px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  color: white;
  flex:1; 
}

.signup {
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
  padding:20px;  
}

footer {
  margin: auto auto 0 auto;
  display:flex;
  justify-content: center;
}

.offer {
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 40px 35px;
  border-radius: 5px;
}

 .signup-input {
  /*  top,right,bottom,left */
  margin: 10px 10px;
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  color: hsl(249, 10%, 26%);
  border: 2px solid lightgrey;
  border-radius: 5px;
  
} 

::placeholder {
  font-size: 12px;
  color: hsl(249, 10%, 26%);
}

input::focus {
  border: 1px solid black;
  border-radius: 5px;
}

#signup-btn {
  background-color: hsl(154, 59%, 51%);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Add class via JS */
.warning{
  display: none;
  justify-content: flex-end;
  margin:0;
  font-size: 12px;
  color:red;
  padding-right:10px;
}

/* .warning2{
  display: none;
  justify-content: flex-end;
  margin:0;
  font-size: 12px;
  color:red;
  padding-right:10px;
} */

.label{
  display: none;
  position: relative;
}


.label::before{
  content:url("images/icon-error.svg");
  position: absolute;
  top:20px;
  right:20px; 
}
/* End of dynamic addition */


